.container
  .row
    .col-md-8.col-sm-6.feature-text
      %h3 What are Sand &amp; Lightning Talks?

      %p{ style: "font-size: larger" }
        What's more fun than charades or just sitting around drinking beers with family and friends at the beach house?
        %b An evening of short "lighting talk" presentations on interesting topics!

      %p{ style: "font-size: larger"}
        When we get together, there's always alot of random conversation about "whazup?", "what are you doing?", or "hey, did you know...". So we invited each other to prepare a short talk about any topic, <a href="http://www.ted.com/">TED Talk</a>-style. Besides, it's a low risk opportunity to share ideas and practice your presentation skills in a brutally loving environment :)

      %p{ style: "font-size: larger"} 
        So, the next time you get together with family and friends, maybe on vacation at the beach or wherever, fire up your Powerpoints, young and old alike, and have at it!

      %hr
      %p Simple rules:
      %ul.rules
        %li Everyone (anyone) takes turns giving a presentation to the group.
        %li Choose a topic you have a fairly deep knowledge, yet can boil down to a short talk. Include sufficient detail to make it interesting and valuable. Make it relevant and enriching. It can be a How-to, a professional issue, a personal hobby or skill. Or tell a personal experience, review a book or movie, or person that influenced you.
        %li Advanced preparation is highly encouraged. Practice to keep it short.
        %li Pick a time limit (e.g. 10 minutes).
        %li Select a moderator to keep the session going smoothly, who goes next, and enforce time limits.
        %li Setup a tv, projector, or ChromeCast, etc. for those who want to use multimedia.
        %li Record the talks and post them here! <em>(Coming Soon!)</em>

    .col-md-4.col-sm-6{ style: "font-style: italic; font-size: smaller"}
      = image_tag "EB0713FULG1D.jpg", style: "max-width: 100%"
      %br
      %br
      %p 
        Fulgurite, also referred to as <b>petrified lightning</b>, is a glass tube formed by lightning striking sand. It can be over an inch diameter and found up to 50 feet below the surface of the strike. 
        = link_to "(photo credit)", "http://www.treasuremountainmining.com/servlet/the-template/articles/Page?article=fulgurite"

      %p 
        We considered calling these Fulgurite Talks, since we were at the beach, preserving the presentations on the interwebs, topics can be deep and tubular, and some of the speakers seemed petrified! But no one could pronounce it so we decided to keep it simple and pithy.

