@import "bootstrap-sprockets";
@import "bootstrap";


body {
  font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
}
.container {
  max-width: 960px;
}
.btn {
  border-radius: 1em;
}
.navbar {
  /*background: transparent;*/
  border: none;
  padding: 0.5em 0;
  margin-bottom: 0;
}
.navbar .navbar-brand {
  color: #000;
  font-family: georgia, serif;
  font-weight: bold;
}
.navbar ul.nav li a {
  color: #111;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5em;
}
.navbar ul.nav li a:hover {
  color: #000;
}
.navbar ul.nav li button {
  margin: 0.7em 0 0 1em;
}
.navbar ul.nav li a.btn {
  padding: 5px 1em;
  margin-top: 10px;

}

.feature-photo {
  width: 100%;
}
.feature-text h3 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
.feature-text p {
  line-height: 1.5em;
  margin: 1em 0;
}
.spacer {
  margin: 3em 0;
}
.jumbotron {
  background: #f0f0f0;
  background-image: image-url(204185.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: #333;
  padding-top: 2em;
  height: 500px;
  text-align: left;
  margin: 0;
}
.jumbotron h1 {
  /*background: #fff;*/
  color: #fff;
  display: inline-block;
  /*font-size: 1.5em;*/
  font-size: 3em;
  margin-bottom: 0;
  /*padding: 0.5em;*/
  text-transform: uppercase;
  font-weight: bold;
}
.jumbotron h2 {
  /*background: #fff;*/
  /*color: #333;*/
  color: #ddd;
  display: inline-block;
  /*font-size: 1.2em;*/
  font-size: 2em;
  font-weight: normal;
  /*padding: 0.25em 0.75em;*/
  line-height: 1.4em;
  max-width: 75%;
}
footer {
  background: #111;
  color: #fff;
  padding: 1.2em 0 0.6em;
  margin-top: 3em;
}
@media screen and (max-width: 1200px) {
  .jumbotron {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron {
    height: 300px;
    padding-top: 1em;
  }
  .feature-photo {
    margin: 0.1em 0;
  }
  .jumbotron h1 {
    font-size: 2em;
  }
  .jumbotron h2 {
    max-width: 100%;
    font-size: 1.5em;
  }
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .media-benefit {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
    height: 150px;
    padding-top: 0.1em;
  }
  footer .pull-right {
    display: none;
  }
}


// ====================================

ul.rules li {
  margin-bottom: 1em;
}

.talk-content *:hover {
  text-decoration: none !important;
  color: #428BCA !important;
}

#footer {
  margin-top: 6em;
  padding-top: 1em;
  border-top: 1px solid #aaa;
}

hr {
  border-color: #ccc;
  border-width: 4px;
}

@media (min-width: 768px) {
  #login-dropdown-list button{
    width: 90%;
  }
}