%nav#footer.navbar.navbar-default
  .container 
    %p.pull-right.small
      = link_to 'Parkerhill Tech', "http://www.parkerhill.com"
      | &copy; 2014
    %p 
      Questions or comments? 
      = link_to 'contact me', "mailto:jonathan@parkerhill.com"
